Win32.*.Debug/
Win32.*.Release/
x64.*.Debug/
x64.*.Release/
Android.Ndk.*.Debug/
Android.Ndk.*.Release/
Mac/Debug
Mac/Release
iOS-iphoneos.Debug/
iOS-iphoneos.Release/
iOS-iphonesimulator.Debug/
iOS-iphonesimulator.Release/
